@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    background-color: #ECE2D8;
}

.alert-message {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }

/* All Pages */

.link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    color: #9A005A;
    text-decoration: underline;
}

.btn {
    background-color: #9A005A;
    border: 2px solid #9A005A;
    color: #FFF;
    font-size: 18px;
}

.btn:hover {
    background-color: #BBA58E;
    border: 2px solid #BBA58E;
    color: #000;
}

.user-img {
    width: 100px;
    height: 100px;
}

.a-link {
    color: #000;
    text-decoration: none;
}

.slide {
    margin-bottom: 500px;
}

/* Header */

.site-wide-alert {
    background-color: #9A005A;
    border-color: #9A005A;
}

.logo {
    width: 200px;
    margin-left: 20px;
}

.offcanvas, .dropdown-menu, .bg-sandcolor {
    background-color: #BBA58E;
}

.drop-menu {
    background-color: #D1BAA1;
}

.drop-menu .dropdown-item {
    width: 90%;
}

.dropdown-item:hover {
    background-color: transparent;
}

.logout-nav {
    font-size: 16px;
}

.headings {
    font-size: 60px;
    font-weight: 400;
    text-decoration: underline;
    /* margin-top: 160px; */
}

.headings span {
    font-size: 80px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    letter-spacing: 5px;
}

/* Home Page */

.hero-wrapper {
    position: relative;
}

.hero-wrapper h1 {
    font-size: 22px;
}

.hero-text {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(187, 165, 142, .9), rgb(187, 165, 142, .7), rgb(255, 255, 255, .6), rgba(255, 255, 255, 0.0));
    letter-spacing: 1px;
}

.hero-image {
    height: 500px;
    background-color: #000;
    background: url('https://imgur.com/fsJ5007.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Section */

.about-me h2 {
    font-size: 24px;
    margin-right: 90px;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: 700;
    margin: 10px -65px 0 0;
}

/* Service Section */

.services div {
    width: 420px;
    height: 300px;
    background-color: #9A005A;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
}

footer .socials {
    color: #9A005A;
    font-size: 25px;
    text-shadow: 1px -1px 1px #000;
}

.footer-contact {
    border: 2px solid #9A005A;
    color: #9A005A;
    text-decoration: none;
}

.footer-contact:hover {
    background-color: #9A005A;
    color: #FFF;
}

.footeralert {
    background-color: #AC927C;
    border-color: #AC927C;
    font-size: 14px;
    z-index: 1;
}

.strong-name {
    font-size: 15px;
}

/* Shop Page */

.shop-category a {
    font-size: 32px;
}

.shop .dropdown-item:hover, .profile-page .dropdown-item:hover {
    background-color: #AC927C;
}

.shop .card {
    width: 300px;
    height: 490px;
}

.shop .card-img-top {
    height: 330px;
}

.shop .title {
    width: 255px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 23px;
}

/* Shop Item Page */

.shop-item-page .card-img-top {
    height: 700px;
}

.shop-item-body h1 {
    font-size: 30px;
}

.shop-item-body {
    font-size: 22px;
}

.quantity {
    font-size: 20px;
}

.quantity input {
    width: 50px;
}

.quantity p {
    font-size: 17px;
}

.limit {
    background-color: transparent;
}

.shop-item-body .collapse .card {
    box-shadow: none;
}

.item-description {
    min-height: 360px;
    font-size: 18px;
    background-color: #FFF;
    border-radius: 5px;
}

.rating {
    color: #9A005A;
    font-size: 24px;
}

.carousel-inner {
    padding: 0 10%;
}

.carousel-item .card {
    width: 100%;
    height: 100%;
}

.carousel-item .card img {
    height: 300px;
}

.shop-item-page .card-body {
    font-size: 16px;
}

.shop-item-page .card-body h3 {
    width: 100%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Profile Page */

.profile-page img {
    border: 3px solid #000;
    box-shadow: 3px 6px 8px #BBA58E;
}

.username {
    font-size: 28px;
}