@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    background-color: #ECE2D8;
}

main {
    margin-bottom: 400px;
}

.alert-message {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/* All Pages */

.link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    color: #9A005A;
    text-decoration: underline;
}

.btn {
    background-color: #9A005A;
    border: 2px solid #9A005A;
    color: #FFF;
    font-size: 18px;
}

.btn:hover {
    background-color: #BBA58E;
    border: 2px solid #BBA58E;
    color: #000;
}

.form-btn:hover {
    background-color: #796352;
    border: 2px solid #796352;
    color: #FFF;
}

.user-img {
    width: 100px;
    height: 100px;
}

.a-link {
    color: #000;
    text-decoration: none;
}

.headings {
    font-size: 60px;
    font-weight: 400;
    text-decoration: underline;
}

.headings span {
    font-size: 80px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    letter-spacing: 5px;
}

/* CRUD Pages */

.crud-box {
    width: 600px;
    background-color: #BBA58E;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #796352;
}

.go-back {
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.cancel-btn {
    background-color: #796352;
    border: 2px solid #9A005A;
    color: #000;
}

.cancel-btn:hover {
    background-color: #9A005A;
    border: 2px solid #796352;
    color: #FFF;
} 

/* Header */

.site-wide-alert {
    background-color: #9A005A;
    border-color: #9A005A;
}

.logo {
    width: 200px;
    margin-left: 20px;
}

.offcanvas,
.dropdown-menu,
.bg-sandcolor {
    background-color: #BBA58E;
}

.drop-menu {
    background-color: #D1BAA1;
}

.drop-menu .dropdown-item {
    width: 90%;
}

.dropdown-item:hover {
    background-color: transparent;
}

.profile-img {
    width: 90px;
    height: 90px;
}

.logout-nav {
    font-size: 16px;
}

/* Accounts */

.signall {
    position: relative;
}

.form-box {
    padding: 30px 0 80px 0;
}

.sign-box {
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.signout {
    box-shadow: none;
}

.pink-box {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #9A005A;
}

.pink-box .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pink-box .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active-button {
    background-color: #ECE2D8;
    border: 2px solid #ECE2D8;
    color: #9A005A;
}

.deactive-button,
.active-button {
    width: 90px;
    font-size: 20px;
}

/* Home Page */

.hero-wrapper {
    position: relative;
}

.hero-wrapper h1 {
    font-size: 22px;
}

.hero-text {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(187, 165, 142, .9), rgb(187, 165, 142, .7), rgb(255, 255, 255, .6), rgba(255, 255, 255, 0.0));
    letter-spacing: 1px;
}

.hero-image {
    height: 500px;
    background-color: #000;
    background: url('https://imgur.com/fsJ5007.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Section */

.about-me h2 {
    font-size: 24px;
    margin-right: 90px;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: 700;
    margin: 10px -65px 0 0;
}

/* Service Section */

.services div {
    width: 420px;
    height: 300px;
    background-color: #9A005A;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
}

footer .socials {
    color: #9A005A;
    font-size: 25px;
    text-shadow: 1px -1px 1px #000;
}

.footer-contact {
    border: 2px solid #9A005A;
    color: #9A005A;
    text-decoration: none;
}

.footer-contact:hover {
    background-color: #9A005A;
    color: #FFF;
}

.footeralert {
    background-color: #AC927C;
    border-color: #AC927C;
    font-size: 14px;
    z-index: 1;
}

.strong-name {
    font-size: 15px;
}

/* Shop Page */

.shop-category a {
    font-size: 32px;
}

.settings .dropdown-item:hover {
    background-color: #AC927C;
}

.shop .card {
    width: 300px;
    height: 97%;
}

.shop .card-img-top {
    height: 330px;
}

.shop .title {
    width: 255px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 23px;
}

/* Shop Item Page */

.shop-item-page .card-img-top {
    height: 700px;
}

.shop-item-body h1 {
    font-size: 30px;
}

.shop-item-body {
    font-size: 22px;
}

.quantity {
    font-size: 20px;
}

.quantity input {
    width: 50px;
}

.quantity p {
    font-size: 17px;
}

.limit {
    background-color: transparent;
}

.shop-item-body .collapse .card {
    box-shadow: none;
}

.item-description {
    min-height: 360px;
    font-size: 18px;
    background-color: #FFF;
    border-radius: 5px;
}

.rating {
    color: #9A005A;
    font-size: 24px;
}

.carousel-inner {
    padding: 0 10%;
}

.carousel-item .card {
    width: 100%;
    height: 100%;
}

.carousel-item .card img {
    height: 300px;
}

.shop-item-page .card-body {
    font-size: 16px;
}

.shop-item-page .card-body h3 {
    width: 100%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Blog Page */

.blog .card {
    width: 100%;
    height: 290px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0;
    margin-bottom: 50px;
}

.blog .tall-blog {
    width: 49%;
    height: 500px;
    margin-left: 1%;
}

.blog .second-tall {
    margin-left: 0.7%;
}

.blog .tall-blog img {
    width: 100%;
    height: 500px;
}

.blog .tall-blog .image-container {
    width: 96%;
    margin: 0 5px
}

.blog .card-img-top {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 4px #5f5f5f;
}

.blog .post-link {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #000;
}

.blog .tall-blog .post-link {
    width: 96%;
    bottom: 0;
    margin-left: 5px;
}

.blog h2 {
    font-size: 35px;
}

.blog .card-text {
    font-size: 22px;
}


/* Profile Page */

.profile-page img {
    border: 3px solid #000;
    box-shadow: 3px 6px 8px #BBA58E;
}

.username {
    font-size: 28px;
}

/* Blog Post Pages */

.blog-post {
    height: 400px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.masthead-image {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.blog-post .card-img-top {
    border-radius: 5px;
}

.masthead-image:after {
    width: 180%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 85%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 5;
}

.masthead-text {
    position: relative;
    background-color: #445261;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blog-post .post-title {
    margin-top: 180px;
}

.post-subtitle {
    color: lightgray;
}

.blog-heart {
    display: flex;
}

.blog-heart .blog-likes {
    padding-left: 3px;
}

.btn-like {
    color: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
}

.unfilled-bookmark, .filled-bookmark {
    font-size: 25px;
    color: #9A005A;
}

.blog-detail .card {
    box-shadow: none;
}

.user-img {
    width: 100px;
    height: 100px;
}

.btn-signup {
    float: right;
}

/* Portfolio Page */

.project-page .card {
    height: 93%;
    box-shadow: 0 0 3px #5f5f5f;
}

.card-body a, .no-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.blog .card-img-top,
.blog-post .card-img-top {
    height: 290px;
}

.card-description {
    height: 105px;
    font-size: 15px;
    overflow: hidden;
}

/* Error pages */

.error {
    width: 100%;
    height: 250px;
    background-color: #000;
}

.error-page {
    background: url('https://imgur.com/QV1z13w.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.another-error-page {
    background: url('https://imgur.com/TDSUKGL.png') no-repeat;
    background-position: center;
    background-size: contain;
}

/* Gallery */

.category-links {
    text-decoration: none;
    font-size: 27px;
    font-weight: 500;
    color: #000;
    margin: 20px 30px;
}

.gallery button {
    border: none;
    margin-bottom: 30px;
}

.gallery-form {
    background-color: #9A005A;
    border-radius: 5px;
    color: #FFF;
}

.gallery img {
    width: 400px;
    height: 400px;
}

/* Gallery Modal */

.modal-header h4 {
    font-size: 30px;
}

.modal-body p {
    font-size: 18px;
}

.gallery .modal-body img {
    height: auto;
}

/* Add Image Form */

.add-form-title {
    text-align: center;
}

.add-form {
    margin-left: 80px;
}


/* Contact Page */

.contact .pink-square {
    max-width: 500px;
    max-height: 550px;
    border-radius: 10px;
}