{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}

<section>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="headings mt-4"><span>S</span>hopping Cart</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-11 d-flex mt-4 mb-4 ms-4 ms-lg-5">
            <div class="cart-counter">
                My cart ({{ total_quantity }})
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid cart-page">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for item in cart_items %}
                {% empty %}
                <div class="container-fluid mt-5 mb-5">
                    <div class="row">
                        <div class="col-12 col-lg-9 d-flex justify-content-center mb-5">
                            <div>
                                <h2>YOUR CART IS EMPTY!</h2>
                                <p class="text-center">Go to <a href="{% url 'shop' %}">The Shop</a> to start shopping!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}