{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}

<section>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="headings mt-4"><span>S</span>hopping Cart</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-11 d-flex mt-4 mb-4 ms-4 ms-lg-5">
            <div class="cart-counter">
                My cart ({{ total_quantity }})
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid cart-page">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for item in cart_items %}
                <div class="d-flex justify-content-center">
                <form class="col-11 col-lg-10" method="POST" action="{% url 'edit_cart' item.id %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top shop-item" alt="{{ item.title }}">
                                {% else %}
                                <img src="https://imgur.com/kUyQ94l.png" class="card-img-top shop-item"
                                    alt="Placeholder Image">
                                {% endif %}
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <div class="col-12 d-flex justify-content-between mb-2">
                                    <a href="{% url 'shop_item' item.id %}" class="a-link">{{ item.title }}</a>
                                    <a href="{% url 'delete_from_cart' item.id %}" class="icon ml-auto"><i
                                            class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-12 d-flex mt-2 mt-md-5">
                                    <strong>
                                        <p class="cart-item-price">£{{ item.price }}</p>
                                    </strong>
                                    <div class="d-flex">
                                        <label for="quantity"></label>
                                        <button type="button" name="action" value="decrement"
                                            class="btn btn-outline-secondary decrement">-</button>
                                        <input class="text-center input-quantity" type="number" id="quantity_{{ item.id }}"
                                            name="quantity" min="0" max="5" value="{{ item.quantity }}"
                                            data-cart-item-id="{{ item.id }}">
                                        <button type="button" name="action" value="increment"
                                            class="btn btn-outline-primary increment">+</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-2">
                                    <button class="btn btn-primary update-quantity-button" type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
                </div>
            {% empty %}
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <div class="col-12 col-lg-9 d-flex justify-content-center mb-5">
                        <div>
                            <h2>YOUR CART IS EMPTY!</h2>
                            <p class="text-center">Go to <a href="{% url 'shop' %}">The Shop</a> to start shopping!</p>
                        </div>
                    </div>
                </div>
            </div>
    
            {% endfor %}
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="col-12 pe-1 pe-sm-4 ps-1 ps-sm-3 ps-lg-0 mb-5 mb-lg-0">
                    <div class="d-flex justify-content-between ms-3 me-3 ms-lg-0 me-lg-1">
                        <p>Order value</p>
                        <p>£{{ total }}</p>
                    </div>
                    <div class="d-flex justify-content-between ms-3 me-3 ms-lg-0 me-lg-1">
                        <p>Shipping</p>
                        {% if cart_items %}
                            {% if total >= free_shipping %}
                            <p>Free shipping</p>
                            {% else %}
                            <p>£{{ shipping_fee }}</p>
                            {% endif %}
                        {% else %}
                        <p>£0</p>
                        {% endif %}
    
                    </div>
                    <div class="d-flex justify-content-between ms-3 me-3 ms-lg-0 me-lg-1">
                        <p class="order-total">Order total</p>
                        <p class="order-total">£{{ total_with_shipping }}</p>
                    </div>
                    <a href="#" class="btn btn-success w-100 mb-5 mb-lg-0">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}