{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block signalert %}so you can save your favorite blog posts{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<section>
    <div class="blog-post p-0 w-100 mt-5">
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6 masthead-text text-white">
                    <h1 class="post-title ms-4">{{ post.title }}</h1>
                    <p class="post-subtitle ms-4">{{ post.title }} | {{ post.created_on }}</p>
                </div>
                <div class="d-none d-md-block col-6 masthead-image">
                    {% if post.image %}
                    <img class="card-img-top" src="{{ post.image.url }}">
                    {% else %}
                    <img src="https://imgur.com/jVraxDv.png" class="card-img-top" alt="Placeholder Image">
                    {% endif %}
                </div>
                <div class="col-12 d-flex justify-content-end settings blog-settings">
                    {% if user.is_authenticated and user.is_staff %}
                    <div class="dropdown">
                        <button class="border-0 bg-transparent" type="button" id="settings" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu settings-dropdown-menu" aria-labelledby="settings">
                            <li>
                                <a class="dropdown-item" href="{% url 'edit_blog' post.slug %}">
                                    <button class="dropdown-item">Edit Blog</button>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'delete_blog' post.slug %}">
                                    <button class="dropdown-item">Delete Blog</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container blog-detail">
        <div class="row">
            <div class="col card mb-4  mt-3 left top bg-transparent border-0">
                <div class="card-body">
                    <p class="card-text ">
                        {{ post.content | safe }}
                    </p>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <div class="row col-10">
                                <div class="col-1">
                                    <strong class="blog-heart">
                                        {% if user.is_authenticated %}
                                        <form class="d_inline" action="{% url 'blog_like' post.slug %}" method="POST">
                                            {% csrf_token %}
                                            {% if liked %}
                                            <button type="submit" name="post_id" value="{{post.slug}}"
                                                class="btn-like bg-transparent border-0"><i class="fas fa-heart"></i></button>
                                            {% else %}
                                            <button type="submit" name="post_id" value="{{post.slug}}"
                                                class="btn-like bg-transparent border-0"><i class="far fa-heart"></i></button>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <span class="text-secondary"><i class="far fa-heart"></i></span>
                                        {% endif %}
                                        <span class="text-secondary blog-likes">{{ post.number_of_likes }}</span>
                                    </strong>

                                </div>
                                <div class="col-1">
                                    {% with comments.count as total_comments %}
                                    <strong class="text-secondary blog-comment"><i class="far fa-comments"></i>
                                        {{ total_comments }}</strong>
                                    {% endwith %}
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                        {% if bookmark %}
                        <a href="{% url 'bookmark' post.slug %}" title="Unsave"> <i
                                class="fas fa-bookmark filled-bookmark"></i></a>
                        {% else %}
                        <a href="{% url 'bookmark' post.slug %}" title="Save"> <i
                                class="far fa-bookmark unfilled-bookmark"></i></a>
                        {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid blog-detail">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 card mb-4 mt-3 bg-transparent border-0">
                <div class="card-body p-0">
                    {% if user.is_authenticated %}
    
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" class="mt-1">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg mt-4">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-9 card mb-4 mt-3 bg-transparent border-0">
                <h3>Comments:</h3>
                <div class="comments-wrapper mb-5 mb-md-0">
                    <div class="card-body p-0">
                        {% for comment in comments %}
                        <div class="row">
                            <div class="d-flex">
                                <div class="d-none d-md-block flex-shrink-0">
                                    {% if comment.user.profile.image %}
                                    <img src="{{ comment.user.profile.image.url }}" class="user-img" alt="Profile Image">
                                    {% else %}
                                    <img src="https://imgur.com/kUyQ94l.png" class="user-img"
                                        alt="No image availible Placeholder">
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3 col-12 col-md-9 col-xl-10">
                                    <div class="d-flex justify-content-between settings">
                                        <p class="font-weight-bold">
                                            <a class="a-link" href="{% url 'profile' username=comment.user.username %}">
                                                <strong>{{ comment.name }}</strong>
                                            </a>
                                        </p>
                                    </div>
                                    {{ comment.body | linebreaks }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-3 mb-4">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}