{% extends "base.html" %}

{% block title %}Edit Image{% endblock %}

{% block content %}

<div class="countainer-fluid mt-5">
    <br>
    <br>
    <br>
    <div class="row col-12 d-flex justify-content-center align-self-center ms-0">
        <div class="mt-5 crud-box">
            <div>
                <button class="go-back col-1 mt-3" title="Go back">
                    <a class="text-black" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-reply"></i></a>
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <form class="col-10" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Edit Image</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-4">
                        <!-- {{ form.as_p }} -->

                        <div class="justify-content-center">
                            <p>
                                {% if form.image_display.value %}
                                <img style="width: 150px;" src="{{ form.image_display.value.url }}"
                                    alt="{{ form.image_display.label }}">
                                {% endif %}
                            </p>
                            <p>
                                {{ form.image }}
                            </p>

                            <label class="col-form-label" for="{{ form.title.id_for_label }}">Title:</label>
                            <p>
                                {{ form.title }}
                            </p>

                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            <p>
                                {{ form.description }}
                            </p>

                            <label for="{{ form.category.id_for_label }}">Category:</label>
                            <p>
                                {{ form.category }}
                            </p>
                            <label for="{{ form.status.id_for_label }}">Status:</label>
                            <p>
                                {{ form.status }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-5">
                        <button class="btn form-btn mt-3 mb-4" type="submit">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}