{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block signalert %}So you don't miss out on anything!{% endblock %}

{% block content %}

<section>
    <div class="hero-wrapper">
        <div class="container-fluid hero-image"></div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 hero-text p-3 mb-2">
            <h1 class="col-9 col-sm-10 col-lg-10 mb-4">Whether you have a specific project in mind or you want to collaborate, let's turn imagination into
                reality.
                Contact me now.</h1>
            <a class="btn btn-primary" href="#" role="button">Let's work together</a>
        </div>
    </div>
</section>

{% endblock %}