{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block signalert %}so you don't miss out on anything{% endblock %}

{% block content %}

<section>
    <div class="hero-wrapper">
        <div class="container-fluid hero-image"></div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 hero-text p-3 mb-2">
            <h1 class="col-9 col-sm-10 col-lg-10 mb-4">Whether you have a specific project in mind or you want to collaborate, let's turn imagination into
                reality.
                Contact me now.</h1>
            <a class="btn btn-primary" href="{% url 'contact' %}" role="button">Let's work together</a>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid my-5">
        <div class="row px-5 ms-5">
            <div class="about-me col-md-6 col-12 d-flex justify-content-center flex-column align-items-center py-2 px-3">
                <h2 class="text-center">Learn more about <br><span class="name d-flex justify-content-end">Mia</span>
                </h2>
                <p>
                    Hi there, I'm a creative and hardworking girl with a diverse range of interests. I love to
                    do anything creative all which allow me to express myself in unique and meaningful
                    ways.
                    <br><br>
                    I am a driven and creative individual who is always looking for new ways to express myself and
                    push my boundaries. I believe that hard work and dedication are essential to achieving success in
                    any
                    creative pursuit, and I am committed to putting in the effort required to achieve my goals.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-signup col mb-3 mt-2" href="#" type="button"
                        data-bs-toggle="modal" data-bs-target="#about" alt="Learn more about Mia Rasmussen"
                        title="Learn more about Mia Rasmussen">
                        LEARN MORE
                    </a>
                </div>
                <div class="col-12">
                    <!-- Modal info about -->
                    <div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close d-flex justify-content-end"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center">
                                    <div class="column">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <img class="col-lg-9 d-none d-md-block rounded-circle img-me my-5" src="https://imgur.com/NRoMoTG.png" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid mb-5">
        <div class="row mb-5">
            <div class="col-lg-12 services text-white d-flex flex-wrap justify-content-center py-1 px-4 mb-5">
                <div class="col-4 m-1">
                    <h3 class="text-center mt-4"><i class="fas fa-shopping-cart"></i> Crafting</h3>
                </div>
                <div class="col-4 m-1">
                    <h3 class="text-center mt-4"><i class="fas fa-camera"></i> Photography</h3>
                </div>
                <div class="col-4 m-1">
                    <h3 class="text-center mt-4"><i class="fas fa-laptop-code"></i> Development</h3>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}