{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block signalert %}so you don't miss out on anything{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
            <h1 class="headings mt-4"><span>P</span>ortfolio</h1>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid project-page d-flex justify-content-center mb-5">
        <div class="col-10">
            <div class="row">

                {% for project in projects_list %}
                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="card">
                        {% if project.image %}
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                        {% else %}
                        <img src="https://imgur.com/B8MoPw5.png" class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                        <div class="card-body p-3">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ project.title }}</h5>
                            </div>
                            <p class="card-lang">{{ project.languages }}</p>
                            {% if project.live_link %}
                            <a class="link" href="{{ project.live_link }}" target="_blank">Live Site</a>
                            {% endif %}
                            {% if project.git_link %}
                            <br>
                            <a class="link" href="{{ project.git_link }}" target="_blank">View on GitHub</a>
                            {% endif %}
                            {% if not project.git_link and not project.live_link %}
                            <p class="no-link">No Links Here</p>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created on {{ project.created_on|date:"F d, Y" }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="btn"> NEXT &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            {% if not is_paginated %}
            <div class="col-12 mt-5 extra-space"></div>
            {% endif %}

        </div>
    </div>

</section>
{% endblock %}