{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block signalert %}so you don't miss out on anything{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
            <h1 class="headings mt-4"><span>P</span>ortfolio</h1>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid project-page d-flex justify-content-center">
        <div class="col-10">
            <div class="row">
                {% if user.is_authenticated and user.is_staff %}

                <div>
                    <button class="btn btn-signup col mb-3" type="button" data-bs-toggle="modal"
                        data-bs-target="#add_project">
                        <i class="fas fa-plus-circle"></i> Add Project
                    </button>
                </div>

                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal add image -->
    <div class="modal fade" id="add_project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div class="column">
                        <h3 class="mb-5 add-form-title">Add Project</h3>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'add_project' %}">
                            {% csrf_token %}
                            <div class="add-form">
                                <label class="mb-4" for="title">Title:</label>
                                <input type="text" name="title" required>
                                <br>
                                <label class="mt-2 mb-4" for="image">Image:</label>
                                <input type="file" name="image" accept="image/*">
                                <br>
                                <label class="mb-4" for="description">Description:</label>
                                <input type="text" name="description">
                                <br>
                                <label class="mt-2 mb-4" for="live_link">Live Link:</label>
                                <input type="text" name="live_link">
                                <br>
                                <label class="mt-2 mb-4" for="git_link">Git Link:</label>
                                <input type="text" name="git_link">
                                <br>
                                <label class="mt-2 mb-4" for="status">Status:</label>
                                <select name="status">
                                    <option value="0">Draft</option>
                                    <option value="1">Published</option>
                                </select>
                                <br>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn mt-3 mb-4" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid project-page d-flex justify-content-center mb-5">
        <div class="col-10">
            <div class="row">

                {% for project in projects_list %}
                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="card">
                        {% if project.image %}
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                        {% else %}
                        <img src="https://imgur.com/B8MoPw5.png" class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                        <div class="card-body p-3">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ project.title }}</h5>
                            </div>
                            <p class="card-description">{{ project.description|striptags }}</p>
                            {% if project.live_link %}
                            <a class="link" href="{{ project.live_link }}" target="_blank">Live Site</a>
                            {% endif %}
                            {% if project.git_link %}
                            <br>
                            <a class="link d-block mt-2" href="{{ project.git_link }}" target="_blank">View on
                                GitHub</a>
                            {% endif %}
                            {% if not project.git_link and not project.live_link %}
                            <p class="no-link">No Links Here</p>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-footer mb-3">
                        <small class="text-muted">Created on {{ project.created_on|date:"F d, Y" }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="btn"> NEXT &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            {% if not is_paginated %}
            <div class="col-12 mt-5 extra-space"></div>
            {% endif %}

        </div>
    </div>

</section>
{% endblock %}