{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block signalert %}to get started on shopping{% endblock %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
                <h1 class="headings underline mt-4"><span>S</span>hop</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid shop d-flex justify-content-center col-12 col-lg-10">
        <div class="row">
            <div class="col-12 col-md-2 ms-0 ms-lg-4">
                <div class="justify-content-center shop-category d-none d-lg-block mt-5">
                    <a href="{% url 'shop' %}" class="link d-block">All</a>
                    {% for category in categories %}
                    <a href="{% url 'shop' %}?category={{ category.id }}"
                        class="link mt-3 d-block">{{ category.name }}</a>
                    {% endfor %}
                </div>
                <div class="dropdown d-block d-lg-none">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'shop' %}">All</a></li>
                        {% for category in categories %}
                        <li><a class="dropdown-item"
                                href="{% url 'shop' %}?category={{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-9 flex-grow-1">
                <div class="col-12 d-flex justify-content-between">
                    <div class="col-12 d-flex justify-content-between pe-2 ms-lg-3">
                        {% if selected_category %}
                        <h2 class="mt-5 mb-2 ms-5">{{ selected_category.name }}</h2>
                        {% else %}
                        <h2 class="mt-5 mb-2 ms-5">All</h2>
                        {% endif %}

                        {% if user.is_authenticated and user.is_staff %}

                        <div class="add-shop-item me-lg-4">
                            <button class="btn btn-signup col mt-5 me-lg-5 mb-3 mb-md-0" type="button"
                                data-bs-toggle="modal" data-bs-target="#add_shop">
                                <i class="fas fa-plus-circle"></i> Add Item
                            </button>
                        </div>

                        {% endif %}
                    </div>

                    <!-- Modal add shop -->
                    <div class="modal fade" id="add_shop" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close d-flex justify-content-end"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center">
                                    <div class="column">
                                        <h3 class="mb-5 add-form-title">Add Shop Item</h3>
                                        <form method="POST" enctype="multipart/form-data"
                                            action="{% url 'add_product' %}">
                                            {% csrf_token %}
                                            <div class="add-form">
                                                <label class="mb-4" for="title">Title:</label>
                                                <input type="text" name="title" required>
                                                <br>
                                                <label class="mb-4" for="item">Item:</label>
                                                <input type="text" name="item" required>
                                                <br>
                                                <label class="mt-2 mb-4" for="image">Image:</label>
                                                <input type="file" name="image" accept="image/*" required>
                                                <br>
                                                <label class="mt-2 mb-4" for="description">Description:</label>
                                                <textarea name="description"></textarea>
                                                <br>
                                                <label class="mb-4" for="price">Price:</label>
                                                <input type="number" name="price" step="0.01" min="0" required>
                                                <br>
                                                <label class="mb-4" for="quantity">Quantity:</label>
                                                <input type="number" name="quantity" step="1" min="0" required>
                                                <br>
                                                <label class="mt-2 mb-4" for="category">Category:</label>
                                                <select name="shop_category">
                                                    {% for category in categories %}
                                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <br>
                                                <label class="mt-2 mb-4" for="status">Status:</label>
                                                <select name="status">
                                                    <option value="0">Draft</option>
                                                    <option value="1">Published</option>
                                                </select>
                                                <br>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button class="btn mt-3 mb-4" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-wrap justify-content-center">
                    {% if selected_category.name == 'Draft' %}
                    {% for item in items %}
                    <div>
                        <div class="card m-md-2">
                            <a href="{% url 'shop_item' shop_id=item.id %}">
                                {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top p-2" alt="{{ item.title }}">
                                {% else %}
                                <img src="https://imgur.com/kUyQ94l.png" class="card-img-top p-2"
                                    alt="Placeholder Image">
                                {% endif %}
                            </a>
                            <div class="card-body p-2">
                                <div class="d-flex justify-content-between">
                                    <a class="link" href="{% url 'shop_item' shop_id=item.id %}">
                                        <h2 class="category-link title mb-3">{{ item.title }}</h2>
                                    </a>
                                    <p class="heart-likes"><i class="far fa-heart"></i></p>
                                </div>
                                <p class="price mt-3 mb-2">£{{ item.price }}</p>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="btn btn-primary d-flex justify-content-center w-100">ADD TO BAG</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    {% for item in shop_items %}
                    <div>
                        <div class="card m-md-2">
                            <div class="col-12 d-flex justify-content-end">
                                {% if user.is_authenticated and user.is_staff %}
                                <div class="dropdown">
                                    <button type="button" id="settings" class="border-0 bg-transparent me-2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="settings">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'edit_shop' item.id %}">
                                                <button class="dropdown-item">Edit Item</button>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'delete_shop' item.id %}">
                                                <button class="dropdown-item">Delete Item</button>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'shop_item' item.id %}">
                                {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top p-2 pt-0" alt="{{ item.title }}">
                                {% else %}
                                <img src="https://imgur.com/kUyQ94l.png" class="card-img-top p-2 pt-0"
                                    alt="Placeholder Image">
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="{% url 'shop_item' item.id %}">
                                {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top p-2" alt="{{ item.title }}">
                                {% else %}
                                <img src="https://imgur.com/kUyQ94l.png" class="card-img-top p-2"
                                    alt="Placeholder Image">
                                {% endif %}
                            </a>
                            {% endif %}
                            <div class="card-body p-2">
                                <div class="d-flex justify-content-between">
                                    <a class="link" href="{% url 'shop_item' shop_id=item.id %}">
                                        <h2 class="category-link title mb-3">{{ item.title }}</h2>
                                    </a>
                                    <p class="heart-likes"><i class="far fa-heart"></i></p>
                                </div>
                                <p class="price mt-3 mb-2">£{{ item.price }}</p>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="btn btn-primary d-flex justify-content-center w-100">ADD TO BAG</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}