{% extends "base.html" %}

{% block title %}{{ shop_item.title }}{% endblock %}

{% block signalert %}to add to your cart{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<section>
    <div class="shop-item-page mt-4">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12 col-md-8 d-flex justify-content-end mt-2">
                    <div class="col-12 col-xl-8">
                        {% if shop_item.image %}
                        <img src="{{ shop_item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                        {% else %}
                        <img src="https://imgur.com/kUyQ94l.png" class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                    </div>
                </div>

                <div class="col-12 col-md-4 shop-item-body mt-4">
                    <h1 class="mt-2 mb-4">{{ shop_item.title }}</h1>
                    <p class="mb-5">£{{ shop_item.price }}</p>
                    <form id="add-to-cart-form" action="" method="post">
                        {% csrf_token %}

                        <div class="quantity d-flex">
                            <label for="quantity"></label>
                            <button type="button" name="action" value="decrement" class="btn decrement">-</button>
                            <input class="text-center input-quantity" type="number" id="quantity" name="quantity"
                                min="1" max="5" value="1">
                            <button type="button" name="action" value="increment" class="btn increment">+</button>
                            <button class="limit border-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <p class="text-muted d-flex align-items-center ms-4 mb-0">Limit 5
                                    <i class="fas fa-exclamation-circle text-muted ms-2"></i>
                                </p>
                            </button>
                        </div>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body me-2 mt-2">
                                <p><strong>Limit</strong></p>
                                There is a limit on this item to be able to keep up with the demand of all items in the
                                shop.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary d-flex justify-content-center mt-4 mb-3 w-100"
                            onclick="submitForm()">ADD TO
                            BAG</button>
                    </form>
                    <div class="item-description py-4 px-4">
                        {{ shop_item.description|striptags }}
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 card bg-transparent border-0 mb-1 mt-5">
                {% if user.is_authenticated %}

                <h3>Leave a Review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="mt-1">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg mt-4">Submit</button>
                </form>
                {% endif %}
            </div>
            <div class="col-12 col-sm-8 card bg-transparent border-0 mb-4 mt-3">
                <h3>Reviews:</h3>
                <div class="review-wrapper">
                    <div class="card-body">
                        {% for review in shop_item.reviews.all %}
                        <div class="row">
                            <div class="d-flex">
                                <div class="d-none d-md-block flex-shrink-0">
                                    {% if review.user.profile.image %}
                                    <img src="#" class="user-img" alt="Profile Image">
                                    {% else %}
                                    <img src="https://imgur.com/kUyQ94l.png" class="user-img"
                                        alt="No image availible Placeholder">
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3 col-12 col-md-9 col-xl-10">
                                    <div class="d-flex justify-content-between">
                                        <p class="font-weight-bold">
                                            <a href="#">
                                                <strong>{{ review.user.username }}
                                                    {% if review.rating == 0 %}
                                                    <span class="rating">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                                                    {% elif review.rating == 1 %}
                                                    <span class="rating">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
                                                    {% elif review.rating == 2 %}
                                                    <span class="rating">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
                                                    {% elif review.rating == 3 %}
                                                    <span class="rating">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                                                    {% elif review.rating == 4 %}
                                                    <span class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                                    {% else %}
                                                    <span class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                                                    {% endif %}
                                                </strong>
                                            </a>
                                        </p>
                                    </div>
                                    {{ review.text | linebreaks }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ review.created_on }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-3 mb-4">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}